{% extends "base.html" %}
{% block title %} Edit Contact Info {% endblock %}
<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <link href="static/css/signin.css" rel="stylesheet">
  {% endblock %}

  {% block content %}
  <script type="text/javascript">
  $(document).ready(function () {
    window.setTimeout(function () {
      location.href = "{{ target }}"; }, 3000)
  });
  </script>

    <div class="container">
      <h2> All good! Returning to homepage in 3 seconds </h2>
    </div>
  {% endblock %}
