<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <script type="text/javascript" src="/static/3p/js/jquery-1.11.1.js"></script>

  <link href="/static/3p/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/common.css" rel="stylesheet">

  <title>{% block title %}{% endblock %} - SOPO Bicycle Co-op</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/signin">Sopo <span class="glyphicon glyphicon-home"></span></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if session.current_admin %}
        <li><a href="/administration/download/guest_signins">Download recent</a></li>
        {% endif %}
        <li><a href="/administration">Administration</a></li>
        {% if session.current_admin %}
        <li><a href="/administration/logout">Log out</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    {% endblock %}
  </div>
</body>
