<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script type="text/javascript" src="static/3p/js/jquery-1.11.1.js"></script>
  <style type="text/css"></style>
  <link href="static/3p/css/bootstrap.css" rel="stylesheet">
  <link href="static/css/common.css" rel="stylesheet">

  <title>{% block title %}{% endblock %} - SOPO Bicycle Co-op</title>
  {% block head %}
  {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
