{% extends "base.html" %}
{% block title %} Edit Contact Info {% endblock %}
<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <link href="static/css/signin.css" rel="stylesheet">
  {% endblock %}

  {% block content %}
    <div class="container">
        <form class="form-signin" role="form" method="post">
          <h3 class="form-signin-heading">Change your contact info?</h3>
          <input type="text" class="form-control" name="fullname"
            placeholder="Full name: {% if fullname %}{{fullname}}{% else %}not yet set!{% endif %}">
          <input type="email" class="form-control" autofocus="" name="email"
            placeholder="Email address: {% if email %}{{email}}{% else %}not yet set!{% endif %}">
          <input type="text" class="form-control" name="zip"
            placeholder="Zip code: {% if zip %}{{zip}}{% else %}not yet set!{% endif %}">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
        </form>
      </div>

    </div>
  {% endblock %}
