{% extends "base.html" %}
{% block title %} Edit Contact Info {% endblock %}
<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <link href="static/css/signin.css" rel="stylesheet">
  {% endblock %}

  {% block content %}
    <div class="container">
        <form class="form-signin" role="form" method="post">
          <h3 class="form-signin-heading">Welcome! Change your contact info?</h3>
          <input type="email" class="form-control"
            placeholder="email address" autofocus="" name="email">
          <input type="text" class="form-control"
            placeholder="zip code" name="zip">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
        </form>
      </div>

    </div>
  {% endblock %}
