{% extends "base.html" %}
{% block title %} Signin {% endblock %}
<!DOCTYPE html>
  {% block head %}
	<script type="text/javascript" src="/static/js/signin.js"></script>
  <link href="/static/css/signin.css" rel="stylesheet">
  {% endblock %}

  {% block content %}
		<div class="container">
			<form id="signinform" action="/signin" class="form-signin" role="form" method="post">
				<div id="steptualized">
					<h3 class="form-signin-heading">Welcome! Please sign in</h3>
						<!-- <input type="tel" class="form-control" placeholder="Phone #" name="tel" autofocus required> -->
						<input type="text" class="form-control" name="uname" placeholder="Name" autofocus required />
						<div class="checkbox" style="text-align:left; margin-left:10px">
							<label>
								<input type="checkbox" name="volunteering">I'm volunteering!</>
							</label>
						</div>
          <h3 class="form-signin-heading">Info</h3>
          	<textarea class="form-control" rows="5"
            	placeholder="What are you working on?" name="whatup" autofocus></textarea>
          	<input type="text" class="form-control" name="fullname"
            	placeholder="Full name">
          	<input type="email" class="form-control" name="email"
            	placeholder="Email address">
          	<input type="text" class="form-control" name="zip"
            	placeholder="Zip code">
							<!-- <input type="button" name="previous" class="btn btn-lg btn-primary btn-block previous action-button" value="Previous" /> -->
					<h3 class="form-signin-heading">READ THIS</h1>
					<h4 class="form-signin-heading">HEY. You can get hurt. So be careful.</h4>
					<input type="submit" class="btn btn-lg btn-primary btn-block" value="OK" />
			</form>
  	</div>
  {% endblock %}


</body></html>
